.footer {
  min-height: 100px;
  padding: 0 20px;

  @include viewport--lg {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  @include viewport--xl {
    padding: 0 60px;
  }

  p {
    font-size: 10px;
    text-align: right;
  }
}

.footer__list {
  @include zero;

  display: flex;
  justify-content: space-around;

  @include viewport--lg {
    min-width: 100px;
  }
}
