.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 40px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  a,
  p {
    color: $color-black;
  }

  ul {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;

    li {
      margin-right: 20px;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

.header__logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  span {
    font-weight: 700;
  }
}

