.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 40px;

  &__wrapper {
    display: flex;
    align-items: center;

    @include viewport--lg {
      width: 100%;
      justify-content: space-between;
    }
  }

  a,
  p {
    color: $color-black;
  }


  .main-nav__toggle {
    display: none;
  }
}

.header__logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  @include viewport--lg {
    min-width: 250px;
  }

  span {
    font-weight: 700;
  }
}

