.main-nav {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  @include viewport--lg {
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    &__wrapper {
      width: 100%;
    }

    &__list {
      @include zero;

      display: flex;
    }

    &__item {
      font-size: 14px;
      width: 20%;
      margin-left: 20px;
      text-align: right;
      
      @include viewport--xl {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }


}
