.order {
  margin-top: 30px;

  @include viewport--lg {
    position: relative;
    margin-top: 50px;
    padding-right: 40%;
  }

  &__tagline {
    @include viewport--lg {
      font-size: 30px;
      line-height: 38px;
    }
  }

  &__img {
    margin: auto;
    clip-path: polygon(50% 0%, 76% 3%, 92% 14%, 100% 30%, 100% 100%, 50% 100%, 0 100%, 0 30%, 8% 14%, 24% 3%);

    @include viewport--lg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__link {
    display: inline-block;
    margin: 20px auto auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

}


