.order {
  label {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: rgba($color-black, 0.6);
  }

  input,
  textarea {
    // position: absolute;
    border: none;
    border-bottom: 2px solid $color-default-black;
  }
}

.order-form__reference {
  font-size: 14px;
  line-height: 17px;

  a {
    color: inherit;
    font-weight: 600;
  }
}
