.order-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @include viewport--md {
    max-width: 500px;
    margin: 30px auto;
  }

  @include viewport--lg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: none;
  }

  label {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
    color: rgba($color-black, 0.6);

    @include viewport--lg {
      width: 45%;
    }
  }

  input,
  textarea {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;

    border: none;
    background-color: transparent;
    border-bottom: 2px solid $color-default-black;

    // @include viewport--lg {
    //   width: 45%;
    // }
  }

  textarea {
    top: -20px;
  }
}

.order-form__reference {
  font-size: 14px;
  line-height: 17px;

  @include viewport--xl {
    margin-left: 30px;
  }

  a {
    color: inherit;
    font-weight: 600;
  }
}
