.program {

  p {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }

  span {
    font-weight: 700;
  }

}

.program__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
