.program {
  p {
    @include zero;

    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-indent: 1.5em;
    text-align: justify;
  }

  span {
    font-weight: 700;
  }

  @include viewport--xl {
    p {
      font-size: 22px;
      line-height: 27px;
    }
  }
}

.program__list {
  @include zero;

  counter-reset: li-counter;

  @include viewport--md {
    max-width: 500px;
    margin: auto;
  }

  @include viewport--lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
  }
}

.program__item {
  counter-increment: li-counter;
  position: relative;
  margin-top: 100px;

  @include viewport--lg {
    width: 45%;
    max-width: 450px;
  }

  &::before {
    content: counter(li-counter);
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 20px;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: $color-accent;
  }

  &:nth-child(-n+9)::before {
    content: "0" counter(li-counter);
  }


}

.program__link-box {
  display: flex;
}

.program__link {
  display: inline-block;
  margin: 20px auto auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
