.promo {
  position: relative;

  @include viewport--lg {
    padding-right: 45%;
  }

  @include viewport--xl {
    padding-right: 40%;
  }

  h2 {
    @include zero;

    margin-top: -20px;
    font-weight: 800;
    font-size: 34px;
    line-height: 52px;
    text-transform: uppercase;
    text-align: center;

    @include viewport--lg {
      text-align: left;
      margin-bottom: 20px
    }
  }

  p {
    @include zero;

    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    text-indent: 1.5em;
    text-align: justify;

    @include viewport--lg {
      padding-top: 0;
      margin-bottom: 30px;
      align-self: center;
    }
  }

  &__img-box {
    display: none;

    @include viewport--lg {
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      width: 40%;
      max-width: 350px;

      img {
        max-width: none;
        margin-bottom: 0;
      }
    }

    @include viewport--xl {
      max-width: 450px;
    }
  }

  &__tagline {
    p {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-indent: 0;
      text-align: center;

      @include viewport--lg {
        margin-right: 0;
        text-align: left;
      }
    }
  }

  a {
    display: inline-block;
    margin: auto;
    margin-top: 20px;

    @include viewport--lg {
      margin-left: 0;
    }
  }

  @include viewport--xl {
    h2 {
      font-size: 52px;
      line-height: 63px;
    }

    p {
      font-size: 22px;
      line-height: 27px;
    }
  }
}

.promo__link-box {
  display:  flex;
}
