.review {
  @include zero;

  @include viewport--md {
    text-align: center;
  }

  // @include viewport--lg {
  //   display: flex;
  // }

  img {
    height: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    clip-path: circle(90px at center);
  }
}

// .review__author-box {
//   @include viewport--lg {
//     width: 20%;
//   }
// }

.review__author-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;



  @include viewport--xl {
    font-size: 31px;
    line-height: 38px;
  }
}

.review__author-town {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @include viewport--xl {
    font-size: 22px;
    line-height: 27px;
  }
}

.review__author-course {
  @include zero;

  margin-top: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  @include viewport--xl {
    font-size: 22px;
    line-height: 27px;
  }
}

.review__author-photo {
  display: flex;
  justify-content: space-around;
}

.review__text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  height: 150px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @include viewport--xl {
    font-size: 20px;
    line-height: 25px;
  }
}
