.reviews {
  position: relative;
  padding: 0 16px;

  @include viewport--md {
    padding: 0;

    h2 {
      padding: 0 30px;
    }
  }
}

.reviews__box {
  overflow: hidden;
}

.reviews__list {
  @include zero;

  position: relative;
  display: flex;
  justify-content: center;
  width: 100% * 3;

  @include viewport--md {
    width: 60% * 3;
  }
}

.reviews__item {
  width: 100%;

  @include viewport--md {
    width: 60%;
    padding-right: 30px;
    transform: translateX(30%);
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  @include viewport--lg {
    transform: translateX(40%);
  }
}

.reviews__link {
  display: block;
  color: $color-black;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: underline;
}

.reviews__navigation {
  position: absolute;
  top: 250px;
  left: 0;

  @include viewport--lg {
    padding: 0 40px;
  }
}
