.review {
  @include zero;

  @include viewport--md {
    text-align: center;
  }

  @include viewport--xl {
    display: flex;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
}

.review__author-box {
  @include viewport--xl {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.review__author-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @include viewport--xl {
    margin-bottom: 50px;
    font-size: 31px;
    line-height: 38px;
  }
}

.review__author-town {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @include viewport--xl {
    font-size: 22px;
    line-height: 27px;
  }
}

.review__author-course {
  @include zero;

  margin-top: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  @include viewport--xl {
    font-size: 22px;
    line-height: 27px;
  }
}

.review__author-photo {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: 0 auto;

  @include viewport--md {
    img {
      width: 100%;
      max-width: 450px;
    }
  }

  @include viewport--xl {
    width: 40%;

    img {
      width: 100%;
      max-width: 300px;
      margin: 0;
    }
  }
}

.review__text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  height: 150px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @include viewport--xl {
    width: 30%;
    height: 250px;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    -webkit-line-clamp: 10;
  }
}
