.reviews {
  position: relative;
  padding: 0 16px;
}

.reviews__box {
  overflow: hidden;
}

.reviews__list {
  @include zero;

  display: flex;
  justify-content: center;
  width: 100% * 3;
}

.reviews__item {
  width: 100%;
}

.reviews__link {
  display: block;
  color: $color-black;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: underline;
}

.reviews__navigation {
  position: absolute;
  top: 250px;
  left: 0;
}
