<section class="about">
  <h2 class="section-header">Обо мне</h2>
  <img class="about__img" src="" alt="фотография Светланы">
  <p>
    «Мир делится на тяжело работающих и работающих умно» - к такому выводу я пришла уже в отрочестве, и предположение это с годами обрастало доказательствами и стало для меня почти аксиомой.
  </p>
  <p>
    В школе я писала сочинения и диктанты лучше всех. При этом не знала ни одного правила: я их не понимала просто, мозг мой отторгал эту информацию. А были и те, кто мог, разбуженный среди ночи, повторить учебник, а за диктант - кол.
  </p>
  <p>
    Я выросла, пошла на филологический, и там нас научили к языкам и литературе относится совсем не так, как в школе. Язык, как оказалось, служит нам для красоты и наслаждения, а не для поиска и исправления ошибок.
  </p>
  <p>
    Я ещё больше выросла, уехала в Польшу, прожила там много лет и в совершенстве научилась говорить по-польски. Так научилась, что подружки-польки вечно просили меня написать за них пост или ответить на комментарий очередного тролля так, чтоб неповадно было.
  </p>
  <p>
    Следуя заветам своих чудесных институтских преподавателей, я изучала польский язык не по учебникам. И вам не советую. И научу, как надо.
  </p>
  <p>
    Конечно же, я прекрасно знаю теорию языка - я же филолог, и могу объяснить вам любое правило. Только зачем делать вещи, которые не нужны? Потому что нас долго учили делать бессмысленную работу с умными лицами? А времени не жалко?
  </p>
  <p>
    Одним словом, давайте изучать язык по-новому!
    Я приглашаю вас на курс, который является итогом всей моей почти тридцатилетней преподавательский деятельности, изучения методик преподавания и научной литературы о работе человеческого мозга и памяти.
  </p>
  <p>
    Вы будете учиться с удовольствием и радостью, заговорите уже на первом занятии и  научитесь общаться легко и на любую тему. Выполнение домашней работы станет вашим хобби, а уроки - веселым общением с умными людьми.
  </p>
  <p>
    Надеюсь, что пробное занятие - бесплатное и ни к чему не обязывающее - позволит вам получить ответы на возникшие вопросы и даст вам исчерпывающую демо-версию того, как проходят уроки и как к ним готовиться. Записывайтесь!
  </p>
</section>
