<section class="benefits">
  <h2 class="visually-hidden">Преимущества</h2>
  <ol class="benefits__list">
    <li class="benefits__item">
      Вести светскую беседу - это тонкое искусство, которым вы овладеете на моих курсах. Это вам не дорогу спрашивать и сантехников вызывать.
    </li>
    <li class="benefits__item">
      Как часто мы не знаем, о чем поговорить, даже на своём собственном языке. А я вас научу по-польски разговаривать на кучу интересных тем!
    </li>
    <li class="benefits__item">
      Тяжело учить слова? Ну так не учите их! Я вас умоляю - это же старые методы, зачем вы за них держитесь? Мы пойдём другим путём.
    </li>
    <li class="benefits__item">
      А может, вы хотите идеальное произношение? И это можно! Научим вас очень эффективным и эффектным приёмчикам.
    </li>
    <li class="benefits__item">
      Нет времени? Значит, вы успешный человек! Этот курс как раз и создан для тех, у кого нет времени! Можно заниматься даже из самолёта!
    </li>
    <li class="benefits__item">
      Надоела уравниловка в школах? Самая главная характеристика моих курсов - индивидуальный подход! Вы и только вы - самая главная персона на моих занятиях!
    </li>
    <li class="benefits__item">
      Не лезет в голову грамматика? А её и не будет! Тут мы учимся говорить и делать это красиво, а не корпеть над учебниками.
    </li>
    <li class="benefits__item">
      А как же без грамматики? Ой, да пожалуйста - на моём канале в YouTube я всё доступно объясняю. И это совершенно бесплатно, замечу!
    </li>
    <li class="benefits__item">
      А кто же нас читать и писать научит? А я же и научу! Только гораздо проще и лучше, чем вы думали.
    </li>
    <li class="benefits__item">
      Учился-учился на курсах, экзамены сдал на отлично, а говорить не могу! Знаем эту проблему! Исправим ситуацию: говорить будете так, что не остановишь!
    </li>
    <li class="benefits__item">
      А когда домашнее задание делать, времени же нет! И не нужно. Я вам всё объясню, я же говорю: это курс для успешных, занятых людей.
    </li>
    <li class="benefits__item">
      Не можете/не хотите заплатить сразу за весь курс? И не надо, мы платим по месяцам! А заниматься в паре - в два раза дешевле. И вообще, у нас разные курсы в разной цене, запишитесь на пробное и узнаете.
    </li>
    <li class="benefits__item">
      Боитесь, что не поймёте носителей языка? Да… говорят они не всегда понятно. Но есть очень хороший способ, чтобы научиться их понимать!
    </li>
    <li class="benefits__item">
      Нет времени ездить на занятия? А вы онлайн пробовали? Попробуйте! В удобное для вас время и всего полчаса - уж это всегда найдётся. Очень эффективно!
    </li>
    <li class="benefits__item">
      А вдруг потеряю мотивацию? Изучение языка станет вашим любимым занятием и вы будете постоянно видеть результаты - вот вам и мотивация! И конечно, я не дам вам сойти с дистанции!
    </li>
    <li class="benefits__item">
      Не можете заставить себя делать домашнее задание? У меня вы будете делать его каждый день, вы будете жить языком - при моей системе проверки по-другому и не получится.
    </li>
    <li class="benefits__item">
      Даже и не обольщайтесь: я допинаю вас до результата!
    </li>
    <li class="benefits__item">
      У вас ненормированный рабочий день? Вы постоянно в командировках? А мы занимаемся онлайн и в удобное для вас время, так что не выкрутитесь!
    </li>
  </ol>
  <div class="benefits__navigation">
    <button class="benefits__prev">

    </button>
    <button class="benefits__next">

    </button>
  </div>
</section>






