<section class="benefits">
  <h2 class="visually-hidden">Преимущества</h2>
  <div class="benefits__box">
    <ol class="benefits__list list">
      <li class="benefits__item benefits__item--themes">
        <div class="benefits__svg-box">
          <svg width="130" height="171">
            <use xlink:href="#themes"></use>
          </svg>
        </div>
        Как часто мы не знаем, о чем поговорить, даже на своём собственном языке. А я вас научу по-польски разговаривать на кучу интересных тем!
      </li>
      <li class="benefits__item benefits__item--hard-words">
        <div class="benefits__svg-box">
          <svg width="217" height="165">
            <use xlink:href="#hard-words"></use>
          </svg>
        </div>
        Тяжело учить слова? Ну так не учите их! Я вас умоляю - это же старые методы, зачем вы за них держитесь? Мы пойдём другим путём.
      </li>
      <li class="benefits__item benefits__item--no-time">
        <div class="benefits__svg-box">
          <svg width="222" height="160">
            <use xlink:href="#no-time"></use>
          </svg>
        </div>
        Нет времени? Значит, вы успешный человек! Этот курс как раз и создан для тех, у кого нет времени! Можно заниматься даже из самолёта!
      </li>
      <li class="benefits__item benefits__item--pay">
        <div class="benefits__svg-box">
          <svg width="166" height="173">
            <use xlink:href="#pay"></use>
          </svg>
        </div>
        Не можете/не хотите заплатить сразу за весь курс? И не надо, мы платим по месяцам! А заниматься в паре - в два раза дешевле. И вообще, у нас разные курсы в разной цене, запишитесь на пробное и узнаете.
      </li>
      <li class="benefits__item benefits__item--small-talk">
        <div class="benefits__svg-box">
          <svg width="238" height="172">
            <use xlink:href="#small-talk"></use>
          </svg>
        </div>
        Вести светскую беседу - это тонкое искусство, которым вы овладеете на моих курсах. Это вам не дорогу спрашивать и сантехников вызывать.
      </li>
      <li class="benefits__item benefits__item--no-grammar">
        <div class="benefits__svg-box">
          <svg width="158" height="154">
            <use xlink:href="#no-grammar"></use>
          </svg>
        </div>
        Не лезет в голову грамматика? А её и не будет! Тут мы учимся говорить и делать это красиво, а не корпеть над учебниками.
      </li>
      <li class="benefits__item benefits__item--no-homework">
        <div class="benefits__svg-box">
          <svg width="260" height="175">
            <use xlink:href="#no-homework"></use>
          </svg>
        </div>
        А когда домашнее задание делать, времени же нет! И не нужно. Я вам всё объясню, я же говорю: это курс для успешных, занятых людей.
      </li>
      <li class="benefits__item benefits__item--cant-talk">
        <div class="benefits__svg-box">
          <svg width="234" height="178">
            <use xlink:href="#cant-talk"></use>
          </svg>
        </div>
        Учился-учился на курсах, экзамены сдал на отлично, а говорить не могу! Знаем эту проблему! Исправим ситуацию: говорить будете так, что не остановишь!
      </li>
      <li class="benefits__item benefits__item--dont-understand">
        <div class="benefits__svg-box">
          <svg width="130" height="179">
            <use xlink:href="#dont-understand"></use>
          </svg>
        </div>
        Боитесь, что не поймёте носителей языка? Да… говорят они не всегда понятно. Но есть очень хороший способ, чтобы научиться их понимать!
      </li>
      <li class="benefits__item benefits__item--perfect-pronunciation">
        <div class="benefits__svg-box">
          <svg width="213" height="175">
            <use xlink:href="#perfect-pronunciation"></use>
          </svg>
        </div>
        А может, вы хотите идеальное произношение? И это можно! Научим вас очень эффективным и эффектным приёмчикам.
      </li>
      <li class="benefits__item benefits__item--online">
        <div class="benefits__svg-box">
          <svg width="203" height="175">
            <use xlink:href="#online"></use>
          </svg>
        </div>
        Нет времени ездить на занятия? А вы онлайн пробовали? Попробуйте! В удобное для вас время и всего полчаса - уж это всегда найдётся. Очень эффективно!
      </li>
      <li class="benefits__item benefits__item--equalization">
        <div class="benefits__svg-box">
          <svg width="180" height="156">
            <use xlink:href="#equalization"></use>
          </svg>
        </div>
        Надоела уравниловка в школах? Самая главная характеристика моих курсов - индивидуальный подход! Вы и только вы - самая главная персона на моих занятиях!
      </li>
      <li class="benefits__item benefits__item--grammar-youtube">
        <div class="benefits__svg-box">
          <svg width="175" height="177">
            <use xlink:href="#grammar-youtube"></use>
          </svg>
        </div>
        А как же без грамматики? Ой, да пожалуйста - на моём канале в YouTube я всё доступно объясняю. И это совершенно бесплатно, замечу!
      </li>
      <li class="benefits__item benefits__item--motivation">
        <div class="benefits__svg-box">
          <svg width="193" height="171">
            <use xlink:href="#motivation"></use>
          </svg>
        </div>
        А вдруг потеряю мотивацию? Изучение языка станет вашим любимым занятием и вы будете постоянно видеть результаты - вот вам и мотивация! И конечно, я не дам вам сойти с дистанции!
      </li>
      <li class="benefits__item benefits__item--read-write">
        <div class="benefits__svg-box">
          <svg width="247" height="174">
            <use xlink:href="#read-write"></use>
          </svg>
        </div>
        А кто же нас читать и писать научит? А я же и научу! Только гораздо проще и лучше, чем вы думали.
      </li>
      <li class="benefits__item benefits__item--homework">
        <div class="benefits__svg-box">
          <svg width="193" height="175">
            <use xlink:href="#homework"></use>
          </svg>
        </div>
        Не можете заставить себя делать домашнее задание? У меня вы будете делать его каждый день, вы будете жить языком - при моей системе проверки по-другому и не получится. Даже и не обольщайтесь: я допинаю вас до результата!
      </li>
      <li class="benefits__item benefits__item--irreguler-work">
        <div class="benefits__svg-box">
          <svg width="142" height="169">
            <use xlink:href="#irreguler-work"></use>
          </svg>
        </div>
        У вас ненормированный рабочий день? Вы постоянно в командировках? А мы занимаемся онлайн и в удобное для вас время, так что не выкрутитесь!
      </li>

    </ol>
  </div>
  <div class="benefits__navigation navigation">
    <button class="navigation__arrow navigation__arrow--prev">
      <svg width="53" height="16">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
    <button class="navigation__arrow navigation__arrow--next">
      <svg width="53" height="16">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
  </div>
</section>






