<section class="contacts">
  <h2 class="section-header">Контакты</h2>
  <p>
    Вы можете связаться со мной по электронной почте <a class="contacts__link" href="mailto:svietlanasieriogina@gmail.com">svietlanasieriogina@gmail.com</a> или по Скайпу <a class="contacts__link" href="href="skype:svietlanasieriogina?chat" >svietlanasieriogina</a>.
  </p>
  <p>
    Также приглашаю вас <a class="contacts__link"  href="https://www.youtube.com/channel/UCn8YqumYXV27ZtJYiFKFGVg">на свой Youtube-канал</a>, где вы сможете посмотреть короткие видео-уроки. Вы также можете следить за новыми публикациями <a class="contacts__link"  href="https://www.facebook.com/watch/polskijsserioginoj/">на моей странице в Фейсбуке</a>, где я размещаю интересные материалы о польском языке.
  </p>
</section>
