<section class="order">
  <h2 class="visually-hidden">
    Запись на занятие
  </h2>
  <p class="order__tagline section-header">
    Запишись на&nbsp;консультацию и бесплатный пробный урок
  </p>
  <img class="order__img" src="img/content/order.jpg" alt="Фото Светланы" width="421" height="518">
  <form class="order__form order-form">
    <label for="name">Имя
      <input type="text" name="name" id="name" required>
    </label>

    <label for="skype">Skype**
      <input type="text" name="skype" id="skype">
    </label>

    <label for="e-mail">E-mail
      <input type="email" name="e-mail" id="e-mail" required>
    </label>

    <label for="comment">Комментарий
      <textarea name="comment" id="comment" rows="2">

      </textarea>
    </label>

    <label for="phone">Телефон*
      <input type="tel" name="phone" id="phone" required>
    </label>

    <div class="order__book-box">
      <button class="order__link btn" type="submit">Записаться</button>
      <div class="order-form__reference">
        <p>
          * Обязательно укажите код вашей страны
        </p>
        <p>
          ** Cкачать программу Скайп вы можете на сайте <a href="https://www.skype.com/ru/"
          >www.skype.com</a>
        </p>
      </div>
    </div>
  </form>
</section>
