<section class="order">
  <h2 class="visually-hedden">
    Запись на занятие
  </h2>
  <p class="order__tagline">
    Запишись на консультацию и бесплатный пробный урок
  </p>
  <img class="order__img" src="" alt="Фото Светланы">
  <form class="order__form order-form">
    <input type="text" name="name" id="name" required>
    <label for="name">Имя</label>
    <input type="email" name="e-mail" id="e-mail" required>
    <label for="e-mail">E-mail</label>
    <input type="tel" name="phone" id="phone" required>
    <label for="phone">Телефон*</label>
    <input type="text" name="skype" id="skype">
    <label for="skype">Skype**</label>
    <textarea name="comment" id="comment">

    </textarea>
    <label for="comment">Комментарий</label>
    <button class="btn" type="submit">Записаться</button>
    <div class="order-form__referens">
      <p>
        * Обязательно укажите код вашей страны
      </p>
      <p>
        ** Cкачать программу Скайп вы можете на сайте <a href="https://www.skype.com/ru/"
        >www.skype.com</a>
      </p>
    </div>
  </form>
</section>
