<section class="program">
  <h2>Программа обучения</h2>
  <p>
    Курс обучения рассчитан на <span>48 получасовых занятий </span>. 24 занятия пройдут со мной и ещё 24 занятия для вас проведёт носитель языка. На первом и втором занятиях мы будем практиковать приветствие, знакомство и короткий рассказ о себе,
    а на последующих добавим сведения о том, что мы любим и не любим, поговорим о наших семьях, о чертах характера,
    о наших планах на будущее и многом другом.
  </p>
  <p>
    К каждому занятию вы будете получать папку <span>с материалами для домашней работы</span>: аудиофайлы, тексты, список фильмов на польском языке, приблизительные вопросы, которые возникнут на занятии. Большую роль в освоении польского языка играет то, как вы подходите к самостоятельно работе над предоставленными материалами. <span>Результат будет зависеть от вложенного вами труда.</span>
  </p>

  <ul class="program__list list">
    <li class="program__item">
      <svg></svg>
      <p>Сможете познакомится, рассказать о себе, спросить или показать дорогу, вести непринужденную беседу на любую тему</p>
      <a class="program__link" href="">
        В программу
      </a>
    </li>
    <li class="program__item">
      <svg></svg>
      <p>Сможете познакомится, рассказать о себе, спросить или показать дорогу, вести непринужденную беседу на любую тему</p>
      <a class="program__link" href="">
        В программу
      </a>
    </li>
    <li class="program__item">
      <svg></svg>
      <p>Сможете познакомится, рассказать о себе, спросить или показать дорогу, вести непринужденную беседу на любую тему</p>
      <a class="program__link" href="">
        В программу
      </a>
    </li>
    <li class="program__item">
      <svg></svg>
      <p>Сможете познакомится, рассказать о себе, спросить или показать дорогу, вести непринужденную беседу на любую тему</p>
      <a class="program__link" href="">
        В программу
      </a>
    </li>
  </ul>
</section>



