<section class="promo">
  <h2>Польский до результата</h2>
  <p>
    «Выучить язык» - это какое-то недоразумение. И&nbsp;свой собственный-то никогда не&nbsp;выучишь. И&nbsp;вообще - зачем его учить? На&nbsp;нём нужно говорить! Вам учить или говорить?  Если говорить, то&nbsp;это к&nbsp;нам! Долой старые школьные методы!  Нет&nbsp;-&nbsp;учебникам! Нет&nbsp;-&nbsp;скучной грамматике! Нет&nbsp;-&nbsp;заучиванию слов! Нет&nbsp;-&nbsp;зубрежке! Запишись на&nbsp;бесплатное пробное занятие и узнай, как мы учим <span>ГОВОРИТЬ ПО-ПОЛЬСКИ</span>.
  </p>
  <div class="promo__img-box">
    <img width="452" height="486" src="img/content/promo.png" alt="Картинка">
  </div>
  <div class="promo__tagline">
    <p>Запишитесь на&nbsp;бесплатное пробное занятие</p>
  </div>
  <div class="promo__link-box">
    <a class="promo__order btn" href="#">
      Записаться
    </a>
  </div>
</section>
