<section class="promo">
  <h2>Польский до результата</h2>
  <p>
    «Выучить язык» - это какое-то недоразумение. И свой собственный-то никогда не выучишь. И вообще - зачем его учить? На нём нужно говорить! Вам учить или говорить?  Если говорить, то это к нам! Долой старые школьные методы!  Нет -  учебникам! Нет - скучной грамматике! Нет - заучиванию слов! Нет - зубрежке! Запишись на бесплатное пробное занятие и узнай, как мы учим <span>ГОВОРИТЬ ПО-ПОЛЬСКИ</span>
  </p>
  <p class="promo__tagline">
    Запишитесь на бесплатное пробное занятие
  </p>
  <div class="promo__link-box">
    <a class="promo__order btn" href="#">
      Записаться
    </a>
  </div>
</section>
