<section class="reviews">
  <h2 class="section-header">Отзывы</h2>
  <div class="reviews__box">
    <ul class="reviews__list list">
      <li class="reviews__item reviews__item--active">
        <blockquote class="review review--show">
          <div class="review__author-box">
            <cite class="review__author-name">Максим Донской</cite><br>
            <cite class="review__author-town">Санкт-Петербург</cite>
            <p class="review__author-course">
              Базовый курс
            </p>
          </div>
          <cite class="review__author-photo">
            <img class="js__author-photo" width="402" height="402" src="img/content/index.jpeg" alt="Фотография автора">
          </cite>
          <p class="review__text">
            Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
          </p>
         </blockquote>
      </li>
      <li class="reviews__item">
        <blockquote class="review review--show">
          <cite class="review__author-name">Максим Донской</cite><br>
          <cite class="review__author-town">Санкт-Петербург</cite>
          <p class="review__author-course">
            Базовый курс
          </p>
          <cite class="review__author-photo">
            <img class="js__author-photo" width="402" height="402" src="img/content/index.jpeg" alt="Фотография автора">
          </cite>
          <p class="review__text">
            Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
          </p>
         </blockquote>
      </li>
      <li class="reviews__item">
        <blockquote class="review review--show">
          <cite class="review__author-name">Максим Донской</cite><br>
          <cite class="review__author-town">Санкт-Петербург</cite>
          <p class="review__author-course">
            Базовый курс
          </p>
          <cite class="review__author-photo">
            <img class="js__author-photo" width="402" height="402" src="img/content/index.jpeg" alt="Фотография автора">
          </cite>
          <p class="review__text">
            Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
          </p>
         </blockquote>
      </li>
    </ul>
  </div>
  <a class="reviews__link" href="#">Читать все отзывы</a>
  <div class="reviews__navigation navigation">
    <button class="navigation__arrow navigation__arrow--prev">
      <svg width="53" height="16">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
    <button class="navigation__arrow navigation__arrow--next">
      <svg width="53" height="16">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
  </div>
</section>
