<section class="reviews">
  <h2>Отзывы</h2>
  <ul class="reviews__list list">
    <li class="reviews__item">
      <blockquote class="review review--show">
        <cite class="review__author-name">Максим Донской</cite>
        <cite class="review__author-town">Санкт-Петербург</cite>
        <p class="review__author-cours">
          Базовый курс
        </p>
        <cite class="review__author-photo">
          <img class="js__author-photo" src="" alt="Фотография автора">
        </cite>
        <p class="review__text">
          Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
        </p>
       </blockquote>
    </li>
    <li class="reviews__item">
      <blockquote class="review review--show">
        <cite class="review__author-name">Максим Донской</cite>
        <cite class="review__author-town">Санкт-Петербург</cite>
        <p class="review__author-cours">
          Базовый курс
        </p>
        <cite class="review__author-photo">
          <img class="js__author-photo" src="" alt="Фотография автора">
        </cite>
        <p class="review__text">
          Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
        </p>
       </blockquote>
    </li>
    <li class="reviews__item">
      <blockquote class="review review--show">
        <cite class="review__author-name">Максим Донской</cite>
        <cite class="review__author-town">Санкт-Петербург</cite>
        <p class="review__author-cours">
          Базовый курс
        </p>
        <cite class="review__author-photo">
          <img class="js__author-photo" src="" alt="Фотография автора">
        </cite>
        <p class="review__text">
          Сначала я купил учебник, словарь и разговорник и несколько месяцев учил язык самостоятельно. В результате я выучил алфавит и получил общее представление о польском языке, но в разговоре с живыми поляками я всё равно не мог произнести ни слова. Тогда я понял, что мне нужен учитель, который в живом общении будет вытягивать из меня слово за словом и исправлять ошибки. Этим преподавателем стала Светлана....
        </p>
       </blockquote>
    </li>
  </ul>
</section>
