.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  overflow-x: hidden;

  &--no-scrollbar {
    height: 100vh;
    height: calc(100 * var(--vh, 1vh));

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

.btn-reset {
  padding: 0;

  background: $color-transparent;
  border: none;
  cursor: pointer;
}

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.list {
  list-style: none;
}

.btn {
  padding: 13px 47px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;
  border: none;
  background-color: $color-accent;
  border-radius: 5px;
}

.section-header {
  @include zero;

  margin-bottom: 20px;
  font-weight: 800;
  font-size: 30px;
  line-height: 42px;

  @include viewport--lg {
    font-size: 44px;
    line-height: 54px;
  }
}
